$color1: rgb(255, 252, 252);
$color2: rgb(61, 60, 60);
$color3:rgb(233, 233, 233);

@mixin childcenter {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "Inter-bold";
  src: url(../assets/fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/Inter-ExtraLight.ttf);
}
 $font1:Inter-bold,sans-serif;

$font2: "Inter", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg.jpg) fixed center/cover;
  &::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    top: 0;
    left: 0;
    animation:Animbody forwards ease 1.5s;
    animation-delay: 0.15s;
    @keyframes Animbody {
      to{
        opacity: 0;
      } 
    }
  }
}
html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}
button{
  all: unset;
  text-transform: uppercase;
  font-family: $font1;
  border: solid 2px black;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 4px;
}
