@font-face {
  font-family: "Inter-bold";
  src: url(../assets/fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url(../assets/fonts/Inter-ExtraLight.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg.jpg) fixed center/cover;
}
body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  top: 0;
  left: 0;
  -webkit-animation: Animbody forwards ease 1.5s;
          animation: Animbody forwards ease 1.5s;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
@-webkit-keyframes Animbody {
  to {
    opacity: 0;
  }
}
@keyframes Animbody {
  to {
    opacity: 0;
  }
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  text-transform: uppercase;
  font-family: Inter-bold, sans-serif;
  border: solid 2px black;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 4px;
}

header {
  height: 100vh;
}
header .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-transform: translateY(40px);
      -ms-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-animation: Animheader 1.5s ease forwards;
          animation: Animheader 1.5s ease forwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  opacity: 0;
}
@-webkit-keyframes Animheader {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes Animheader {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
header .header-title h1 {
  font-family: Inter-bold, sans-serif;
  text-transform: uppercase;
  font-weight: 850;
  color: rgb(255, 252, 252);
  letter-spacing: 5px;
  width: 50%;
  font-size: 3.5vw;
}
header .header-title .part-icone p {
  font-style: italic;
  color: rgb(241, 240, 240);
  margin: 5px auto;
}
@media screen and (max-width: 769px) {
  header .header-title .part-icone p {
    width: 50%;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 533px) {
  header .header-title .part-icone p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 330px) {
  header .header-title .part-icone p {
    font-size: 0.7em;
  }
}
header .header-title .part-icone .icone {
  width: 45px;
  height: 45px;
  border-radius: 150px;
  margin: 20px auto;
  border: solid 2px white;
  position: relative;
  cursor: pointer;
}
header .header-title .part-icone .icone i {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 1.5em;
}
header nav {
  height: 80px;
  width: clamp(715px, 80%, 1100px);
  background: rgba(209, 207, 207, 0.728);
  color: black;
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}
@media screen and (max-width: 769px) {
  header nav {
    width: clamp(300px, 80%, 1100px);
  }
}
header nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}
header nav .nav ul {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
header nav .nav ul:hover li:not(:hover) {
  background: none;
}
header nav .nav ul:hover li:not(:hover) a {
  color: rgb(255, 252, 252);
}
header nav .nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: Inter-bold, sans-serif;
  cursor: pointer;
  width: 100%;
  height: 100%;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
header nav .nav ul li:hover {
  background: rgb(238, 236, 236);
}
header nav .nav ul li:hover a {
  color: black;
}
header nav .nav ul li:first-child {
  background: rgb(238, 236, 236);
}
header nav .nav ul li:first-child a {
  color: black;
}
header nav .nav ul li a {
  color: rgb(255, 252, 252);
  width: 100%;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  font-size: 0.9rem;
  font-weight: 700;
}
header nav .reseau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 15%;
}
header nav .reseau i {
  width: 25%;
  cursor: pointer;
  color: rgb(255, 252, 252);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
@media screen and (max-width: 769px) {
  header nav .reseau i {
    display: none;
  }
}
header nav .reseau i:hover {
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
}

main {
  background: rgb(255, 252, 252);
  margin: 0 auto;
  width: clamp(715px, 80vw, 1100px);
  height: 100%;
}
@media screen and (max-width: 769px) {
  main {
    width: clamp(300px, 80%, 1100px);
  }
}
main .first-sect {
  width: 100%;
  height: 100%;
}
main .first-sect .date p {
  padding: 50px 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  position: relative;
}
main .first-sect .date p::before, main .first-sect .date p::after {
  content: "";
  position: absolute;
  height: 1px;
  background: #cac8c8;
  width: 30%;
  left: 50%;
  top: 50%;
}
@media screen and (max-width: 555px) {
  main .first-sect .date p::before, main .first-sect .date p::after {
    width: 20%;
  }
}
main .first-sect .date p::before {
  -webkit-transform: translate(-50%, -50%) translateX(-85%);
      -ms-transform: translate(-50%, -50%) translateX(-85%);
          transform: translate(-50%, -50%) translateX(-85%);
}
@media screen and (max-width: 555px) {
  main .first-sect .date p::before {
    -webkit-transform: translate(-50%, -50%) translateX(-150%);
        -ms-transform: translate(-50%, -50%) translateX(-150%);
            transform: translate(-50%, -50%) translateX(-150%);
  }
}
main .first-sect .date p::after {
  -webkit-transform: translate(-50%, -50%) translateX(85%);
      -ms-transform: translate(-50%, -50%) translateX(85%);
          transform: translate(-50%, -50%) translateX(85%);
}
@media screen and (max-width: 555px) {
  main .first-sect .date p::after {
    -webkit-transform: translate(-50%, -50%) translateX(150%);
        -ms-transform: translate(-50%, -50%) translateX(150%);
            transform: translate(-50%, -50%) translateX(150%);
  }
}
main .first-sect h2 {
  text-transform: uppercase;
  font-family: Inter-bold, sans-serif;
  font-weight: 800;
  font-size: 1.8rem;
  width: 40%;
  margin: 0 auto;
}
@media screen and (max-width: 1018px) {
  main .first-sect h2 {
    font-size: 2.3vw;
  }
}
main .first-sect .massive-p {
  font-style: italic;
  line-height: 38px;
  width: 50%;
  margin: 20px auto;
}
main .first-sect .massive-picture img {
  width: 70%;
  height: auto;
}
main .first-sect .massive-picture .massive-button {
  padding: 60px;
}
main .seconde-sect {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #cac8c8;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 729px) {
  main .seconde-sect {
    grid-template-columns: 1fr;
  }
}
main .seconde-sect p {
  line-height: 30px;
}
main .seconde-sect img {
  width: 80%;
  height: auto;
}
main .seconde-sect .left-part,
main .seconde-sect .right-part {
  border-right: 1px solid #cac8c8;
  padding: 60px;
}
main .seconde-sect .left-part .date,
main .seconde-sect .right-part .date {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 15px 0;
}
main .seconde-sect .left-part h3,
main .seconde-sect .right-part h3 {
  text-transform: uppercase;
  font-family: Inter-bold, sans-serif;
  margin: 20px auto;
  width: 45%;
}
main .seconde-sect .left-part .Magna-p,
main .seconde-sect .right-part .Magna-p {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
main .seconde-sect .left-part .Magna-button,
main .seconde-sect .right-part .Magna-button {
  margin: 25px 0;
}

footer {
  width: clamp(715px, 80vw, 1100px);
  background: rgb(233, 233, 233);
  margin: 20px auto;
  height: 100%;
}
@media screen and (max-width: 769px) {
  footer {
    width: clamp(300px, 80%, 1100px);
  }
}
footer form {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 729px) {
  footer form {
    grid-template-columns: 1fr;
  }
}
footer form .form-right {
  display: grid;
  grid-template-rows: 8% 7% 8% 7% 8% 44% 7%;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  height: 100%;
  text-align: left;
}
footer form .form-right label {
  -ms-flex-item-align: center;
      align-self: center;
  text-transform: uppercase;
  font-weight: 580;
  color: rgb(53, 51, 51);
  font-size: 0.9rem;
  font-family: Inter-bold, sans-serif;
}
footer form .form-right input {
  height: 100%;
  border: solid 2px rgb(183, 181, 181);
  outline: none;
  border-radius: 5px;
  background: transparent;
}
footer form .form-right textarea {
  border: solid 2px rgb(183, 181, 181);
  outline: none;
  resize: none;
  background: transparent;
  margin: 20px 0;
}
footer form .form-right input[type=button] {
  width: 50%;
  padding: 5px;
  cursor: pointer;
  border: solid 2px black;
  border-radius: initial;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 580;
  letter-spacing: 2px;
}
@media screen and (max-width: 857px) {
  footer form .form-right input[type=button] {
    font-size: 0.5em;
    letter-spacing: normal;
    font-size: small;
  }
}
@media screen and (max-width: 351px) {
  footer form .form-right input[type=button] {
    width: 60%;
  }
}
footer .form-left {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  color: rgb(53, 51, 51);
}
footer .form-left .rows {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  height: 100%;
  border-left: 1px solid rgb(183, 181, 181);
}
footer .form-left .rows .column {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(183, 181, 181);
}
footer .form-left .rows .column .column-left {
  -ms-flex-item-align: center;
      align-self: center;
}
footer .form-left .rows .column .column-left p {
  width: 40%;
  text-align: left;
  margin: 0 auto;
  font-size: 0.9rem;
  font-weight: 580;
  font-family: Inter-bold, sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width: 351px) {
  footer .form-left .rows .column .column-left p {
    font-size: 0.7rem;
  }
}
footer .form-left .rows .column .column-right {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  text-align: left;
}
footer .form-left .rows .column .column-right p {
  font-family: Inter-bold, sans-serif;
  color: rgb(121, 121, 121);
}
@media screen and (max-width: 351px) {
  footer .form-left .rows .column .column-right p {
    font-size: 0.7rem;
  }
}
footer .form-left .rows .column .column-right .reseau-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}
footer .form-left .rows .column .column-right .reseau-last span {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(170, 168, 168);
  border-radius: 150px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
@media screen and (max-width: 351px) {
  footer .form-left .rows .column .column-right .reseau-last span {
    width: 25px;
    height: 25px;
  }
}
footer .form-left .rows .column .column-right .reseau-last span:hover i {
  color: rgb(122, 104, 237);
}
footer .form-left .rows .column .column-right .reseau-last span i {
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
@media screen and (max-width: 351px) {
  footer .form-left .rows .column .column-right .reseau-last span i {
    font-size: 0.8em;
  }
}/*# sourceMappingURL=index.css.map */