@font-face {
  font-family: "Inter", sans-serif;
  src: url(/assets/fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url(/assets/fonts/Inter-ExtraLight.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: url(/assets/images/bg.jpg) fixed center/cover;
}

h1 {
  font-family: "Inter", sans-serif;
  src: url(/assets/fonts/Inter-Bold.ttf);
  text-transform: uppercase;
  font-weight: 850;
  color: rgb(255, 252, 252);
  letter-spacing: 5px;
  width: 43%;
  font-size: 2.8em;
}

a {
  text-decoration: none;
}

header {
  height: 100vh;
}
header .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
}
header .header-title .part-icone p {
  font-style: italic;
  color: rgb(241, 240, 240);
  margin: 5px auto;
}
header .header-title .part-icone .icone {
  width: 45px;
  height: 45px;
  border-radius: 150px;
  margin: 20px auto;
  border: solid 1px white;
  position: relative;
  cursor: pointer;
}
header .header-title .part-icone .icone i {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
header nav {
  height: 80px;
  width: clamp(715px, 80%, 1100px);
  background: rgba(209, 207, 207, 0.728);
  color: black;
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}
header nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}
header nav .nav ul {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
header nav .nav ul:hover li:not(:hover) {
  background: none;
}
header nav .nav ul:hover li:not(:hover) a {
  color: rgb(255, 252, 252);
}
header nav .nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  src: url(/assets/fonts/Inter-Bold.ttf);
  cursor: pointer;
  width: 100%;
  height: 100%;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}
header nav .nav ul li:hover {
  background: rgb(238, 236, 236);
}
header nav .nav ul li:hover a {
  color: black;
}
header nav .nav ul li:first-child {
  background: rgb(238, 236, 236);
}
header nav .nav ul li:first-child a {
  color: black;
}
header nav .nav ul li a {
  color: rgb(255, 252, 252);
  width: 100%;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  font-size: 0.9rem;
  font-weight: 700;
}
header nav .reseau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 15%;
}
header nav .reseau i {
  width: 25%;
  cursor: pointer;
  color: rgb(255, 252, 252);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
header nav .reseau i:hover {
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
}

main {
  background: rgb(255, 252, 252);
  margin: 0 auto;
  width: clamp(715px, 80vw, 1100px);
}
main .first-sect .date p {
  padding: 50px 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  position: relative;
}
main .first-sect .date p::before, main .first-sect .date p::after {
  content: "";
  position: absolute;
  height: 1px;
  background: #cac8c8;
  width: 30%;
  left: 50%;
  top: 50%;
}
main .first-sect .date p::before {
  -webkit-transform: translate(-50%, -50%) translateX(-85%);
      -ms-transform: translate(-50%, -50%) translateX(-85%);
          transform: translate(-50%, -50%) translateX(-85%);
}
main .first-sect .date p::after {
  -webkit-transform: translate(-50%, -50%) translateX(85%);
      -ms-transform: translate(-50%, -50%) translateX(85%);
          transform: translate(-50%, -50%) translateX(85%);
}
main .first-sect h2 {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  src: url(/assets/fonts/Inter-Bold.ttf);
  font-weight: 800;
  font-size: 1.8rem;
  width: 40%;
  margin: 0 auto;
}
main .first-sect .massive-p {
  font-style: italic;
  line-height: 38px;
  width: 50%;
  margin: 20px auto;
}
main img {
  width: 50%;
}/*# sourceMappingURL=index.css.map */