footer{
    width: clamp(715px,80vw,1100px);
    height: 50vh;
    background: $color3;
    margin: 20px auto;
    form{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        height: 100%;
        .form-part{
            display: grid;
            grid-template-rows: 7% 7% 7% 7% 7% 20% 4%;
            width: 80%;
            margin: 0 auto;
            height: 100%;
            text-align: left;
        }
    }
}
