footer{
    @media screen and (max-width:769px) { 
        width: clamp(300px,80%,1100px);
    }
    width: clamp(715px,80vw,1100px);
    background: $color3;
    margin: 20px auto;
    height: 100%;
    form{
        display: grid;
        grid-template-columns: repeat(2,50%);
        width: 100%;
        height: 100%;
        @media screen and (max-width:729px) {
            grid-template-columns: 1fr;
        }
        .form-right{
            display: grid;
            grid-template-rows:8% 7% 8% 7% 8% 44% 7%;
            width: 80%;
            margin:  0 auto;
            padding-top: 30px;
            height: 100%;
            text-align: left;
            label{
                align-self: center;
                text-transform: uppercase;
                font-weight: 580;
                color: rgb(53, 51, 51);
                font-size: .9rem;
                font-family: $font1;
            }
            input{
                height:100%;
                border: solid 2px  rgb(183, 181, 181);
                outline: none;
                border-radius: 5px;
                background: transparent;
            }
            textarea{
                border: solid 2px rgb(183, 181, 181);
                outline: none;
                resize: none;
                background:transparent;
                margin: 20px 0;
            }
            input[type="button"]{
                @media screen and (max-width:857px) {
                font-size: .5em;
                letter-spacing: normal;
                font-size: small;
                }
                @media screen and (max-width:351px) {
                    width: 60%;
                    }
                width: 50%;
                padding: 5px;
                cursor: pointer;
                border: solid 2px black;
                border-radius: initial;
                text-transform: uppercase;
                font-size: .8rem;
                font-weight: 580;
                letter-spacing: 2px;
            }
        }
    }
    
    .form-left{
        height: 100%;
        width: 100%;
        margin: 0 auto;
        color: rgb(53, 51, 51);
        .rows{
            display: grid;
            grid-template-rows: repeat(4,1fr);
            width: 100%;
            height: 100%;
            border-left: 1px solid rgb(183, 181, 181);
            .column{
                display: grid;
                grid-template-columns:40% 60%;
                width:100%;
                margin: 0 auto;
                border-bottom: 1px solid rgb(183, 181, 181);
                .column-left{
                    align-self: center;
                    p{
                        width: 40%;
                        text-align: left;
                        margin: 0 auto;
                        font-size: .9rem;
                        font-weight: 580;
                        font-family: $font1;
                        text-transform: uppercase;
                        @media screen and (max-width:351px) {
                            font-size: .7rem;
                            }
                    }
                }
                .column-right{
                    align-self: center; 
                    width: 100%;
                    text-align: left;
                    p{
                        font-family: $font1;
                        color: rgb(121, 121, 121);
                        @media screen and (max-width:351px) {
                            font-size: .7rem;
                            }
                    } 
                    .reseau-last{
                        display: flex;
                        justify-content: space-between;
                        width: 80%;
                       span{
                        width:35px;
                        height: 35px;
                        border: 1px solid rgb(170, 168, 168) ;
                        border-radius: 150px;
                        transition: ease .5s;
                        @media screen and (max-width:351px) {
                            width: 25px;
                            height: 25px;
                            }
                        &:hover i{
                            color: rgb(122, 104, 237);
                        }
                        i{
                            align-content: center;
                            height: 100%;
                            width: 100%;
                            text-align: center;
                            cursor: pointer; 
                            transition: ease .5s;
                            @media screen and (max-width:351px) {
                                font-size: .8em;
                                }
                        }
                       }
                    }  
                }   
            }
           
        }
    }
    
}
